@import '../../../../definitions';

.Home {
  padding-top: 2rem;
  font-family: $fontDisplay;
  font-weight: 700;
  animation: reveal 2s ease-in-out;
  color: $clrTextDarker;

  &__title {
    color: $clrPri;
    animation: highlight 3s ease-in-out;
  }

  &__previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, auto));
    grid-gap: 2rem;
  }
}

.Preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1rem;
  opacity: 0.9;
  transition: all 250ms ease-in-out;
  padding: 1rem 0.25rem;
  transform: translateY(0);

  &:hover {
    opacity: 1;
    transform: translateY(-.5rem);
  }

  &.red {
    background: $clrRed;
  }

  &.blue {
    background: $clrBlue;
  }

  &.green {
    background: $clrGreen;
  }

  &.cyan {
    background: $clrCyan;
  }

  &.purple {
    background: $clrPurple;
  }

  &.yellow {
    background: $clrYellow;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    font-weight: 300;
  }
  to {
    opacity: 1;
    font-weight: 700;
  }
}

@keyframes highlight {
  from {
    color: $clrText;
  }
  to {
    color: $clrPri;
  }
}